<form @submit.prevent="submit()" @keydown="form.errors.clear($event.target.name)">

    <base-button-group>
        <button-save></button-save>
    </base-button-group>

    <input-subtype entity_type="alerts" formKey="form" autoset="true"></input-subtype>
    <div class="row">
        <div class="col-md-6">
            <input-checkbox column="is_active">Is Active</input-checkbox>
            <input-text column="name" required="true">Name</input-text>
            <input-text v-if="form.id" column="slug">Slug</input-text>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('starts_at') }">
                <label>Starts At</label>
                <div class="form-inline">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="starts_at_date" class="form-control" v-model="form.starts_at_date">
                    </div>
                    <div class="input-group date">
                        <input type="time" name="starts_at_time" class="form-control" v-model="form.starts_at_time">
                    </div>
                </div>
                <span v-for="error in form.error('starts_at')" class="text-danger">{{ error }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('ends_at') }">
                <label>Ends At</label>
                <div class="form-inline">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="ends_at_date" class="form-control" v-model="form.ends_at_date">
                    </div>
                    <div class="input-group date">
                        <input type="time" name="ends_at_time" class="form-control" v-model="form.ends_at_time">
                    </div>
                </div>
                <span v-for="error in form.error('ends_at')" class="text-danger">{{ error }}</span>
            </div>
        </div>
    </div>

    <input-textarea
            column="intro"
            placeholder="intro"
    >Intro
    </input-textarea>

    <input-textarea
            column="body"
            placeholder="body"
            :required="true"
    >Body
    </input-textarea>

    <base-button-group>
        <button-save></button-save>
    </base-button-group>

</form>